@{
    ViewData["Title"] = "About";
}
    <div class="container text-center" style="margin-top:20px>
        <div class="row align-items-start">
            <div class="col-12 col-md-12">
                <h2 style="color: red;">Thông báo</h2>
            </div>
            <div class="col-12 col-md-12" align="justify" style="font-size: large;">
                MixiShop xin thông báo hiện Shop KHÔNG có chương trình tri ân khách hàng nào bằng việc tặng nước hoa,
                quà, hoặc một vài sản phẩm khác như một số bạn<br>
                đã nhận được thông tin.<br>
                <br>
                Các bạn lưu ý tránh để kẻ gian trục lợi làm ảnh hưởng uy tín của Shop nhé ạ<br>
                Số điện thoại check đơn của nhân viên MixiShop lần lượt ở dưới đây. Các bạn vui lòng kiểm tra tin nhắn
                hoặc cuộc gọi check thông tin đơn hàng có khớp với các<br>
                số này hay không nhé 😘<br>
    
             <p style="color: red;">    ☎️ Chỉ tiết xin liên hệ Hotline: 0822221992 / 0922222016 <p>
                Bạn nào có tin nhắn hoặc cuộc gọi về việc nhận được quà tặng từ chương trình tri ân khách hàng vui lòng
                comment vào bài đăng inbox hoặc gọi trực tiếp vào.<br>
                hotline giúp chúng mình.<br>
    
                CÓ MỘT YÊU CÂU NHỎ TRONG LẦN NÀY, CÁC BẠN QUAY LẠI VIDEO BÓC KIỆN HÀNG GIÚP SHOP. TRONG TRƯỜNG HỢP ĐỔI
                TRẢ (ĐỐI VỚI SẢN PHẨM LÀ ÁO,<br>
                YÊU CẤU PHẢI CÒN NGUYÊN TAG MAC), NHẬN THIẾU HÀNG, CÁC BẠN GỬI LẠI VIDEO ĐÓ VÀ INBOX PACE MIXISHOP ĐỀ
                ĐƯỢC HỖ TRỢ NHANH HẾT SỨC CÓ.<br>
                THỂ Ạ.<br>
                <br>
                Nếu có bất kì thắc mắc vui lòng inbox fanpage MixiShop để được giải đáp. Xin chân thành cám ơn và yêu
                thương rất nhiều<br>
    
                Hiện tại bên shop CHƯA có bất cứ chương trình tri ân nào. Nếu có ưu đãi cũng sẽ được thông báo công khai
                trên các kênh CHÍNH THỨC VÀ DUY NHẤT sau đây:<br>
               <a href="index.html">Website : https:/Shop.mixigaming.com/</a> <br>
               <a href="https:/www.facebook.com/MixiShop-l82674912585855"> Fanpage : https:/www.facebook.com/MixiShop-l82674912585855/</a> <br>
               <a href="https:/www.instagram.com/mixi.shop">Instagram : https:/www.instagram.com/mixi.shop/</a> <br>    
               
                Email: Mixiishop@gmailcom<br>
    
                MixiShop xin vui lòng được phục vụ quý khách!<br>
    
            </div>
        </div>
    </div>
   