@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center">
    <h1  >Quản trị</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên bảng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a asp-controller="Category" asp-area="" asp-action="ShowAll">Category</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a asp-controller="Color" asp-area="" asp-action="ShowAll">Color</a></td>
    </tr>
      <tr>
      <th scope="row">3</th>
      <td><a asp-controller="Size" asp-area="" asp-action="ShowAll">Size</a></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td><a asp-controller="Supplier" asp-area="" asp-action="ShowAll">Supplier</a></td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td><a asp-controller="Image" asp-area="" asp-action="ShowAll">Image</a></td>
    </tr>   
      <tr>
      <th scope="row">7</th>
      <td><a asp-controller="Product" asp-area="" asp-action="ShowAll">Product</a></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><a asp-controller="Role" asp-area="" asp-action="ShowAll">Role</a></td>
    </tr>
       <tr>
      <th scope="row">9</th>
      <td><a asp-controller="User" asp-area="" asp-action="ShowAll">User</a></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><a asp-controller="Bill" asp-area="" asp-action="ShowBillForAdmin">Bill Manager</a></td>
    </tr>
  </tbody>
</table>
</div>