   <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-white text-dark" style="border-radius: 1rem;">
 
                                <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content text-center">
                <div class="modal-header h5 text-white bg-primary justify-content-center">
                    Password Reset
                </div>
                <div class="modal-body px-5">
                    <p class="py-2" style="font-size: 20px;">
                        Vui lòng nhập Email của bạn.
                    </p>
                    <div class="form-outline">
                        <input type="email" id="typeEmail" class="form-control my-3" />
                        <label class="form-label" for="typeEmail" style="font-size: 20px;">Nhập email</label>
                    </div>
                    <a href="#" class="btn btn-primary w-100" style="font-size: 15px;">Thay đổi mật khẩu</a>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" href="#dangnhap" style="font-size: 20px;">Đăng nhập</a>
                        <a class="" href="#dangky" style="font-size: 20px;">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>                                    
                </div>
            </div>
        </div>
    </section>