@model CodeWebCuaTui.Models.Images

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path1" class="control-label"></label>
                <input asp-for="Path1" class="form-control" />
                <span asp-validation-for="Path1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path2" class="control-label"></label>
                <input asp-for="Path2" class="form-control" />
                <span asp-validation-for="Path2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path3" class="control-label"></label>
                <input asp-for="Path3" class="form-control" />
                <span asp-validation-for="Path3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path4" class="control-label"></label>
                <input asp-for="Path4" class="form-control" />
                <span asp-validation-for="Path4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="ShowAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
